@font-face {
    font-family: ProximaNovaBold;
    src: url(../font/ProximaNova-Bold.ttf);
}
@font-face {
    font-family: ProximaNovaXBold;
    src: url(../font/ProximaNova-Xbold.ttf);
}

html, *{
    color: #000000;
    font-family: ProximaNovaBold;
    text-align: center;
    text-transform: uppercase;
}

body{
    margin: 0;
    overflow: hidden;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
}

.top_level{
    width: 100%;
}

.top_level:after{
    clear: both;
}

h1{
    position: relative;
    z-index: 5;
}

.left_nav, .right_nav{
    background-color: #4115a6;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: calc(100%/4 - 1px);
    display: block;

}

.right_nav{
    position: absolute;
    left: calc(100% - 40px / 2);
}

.left_text{
    font-family: ProximaNovaXBold;
    left: 75px;
    position: relative;
    text-align: center;
    float: left;
    text-transform: initial;
}

.right_text{
    font-family: ProximaNovaXBold;
    position: relative;
    text-align: center;
    padding-right: 100px;
    float: right;
    text-transform: initial;
}

/* Center Block */

#center_block{
    width: 0%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.inner_block{
    position: relative;
    width: 72%;
    margin: 0 auto;
    float: left;
}

.inner_block_text_left, .inner_block_text_right{
    font-family: ProximaNovaXBold;
    padding-top: 30px;
    text-transform: initial;

}

.inner_block_text_left{
    padding-left: 40px;
    float: left;
}

.inner_block_text_right{
    padding-right: 80px;
    float: right;
}

/* Page 2 */

.two_close_block{
    width: 85%;
    margin: 0 auto;
    margin-left: 75px;
}

.two_inner_title{
    text-align: left;
}

.two_inner_text, .two_lower_left, .two_lower_right{
    text-align: left;
    text-transform: initial;
}

.two_inner_text{
    padding-top: 10px;
    font-size: 13px;
}

.two_lower_block{
    padding-top: 20px;
}

.two_lower_left{
    float: left;
    font-size: 10px;
    width: 50%;
}

.two_lower_right{
    float: right;
    font-size: 10px;
    width: 45%;
}

/* End Page 2 */

/* Page 3 */

.three_close_block{
    width: 65%;
    margin: 0 auto;
}

.mudac{
    max-width:90%;
    height:auto;
}

.third_left_image, .third_right_image{
    height: 100px;
    width: 350px;
}

.third_right_image{
    position: relative;
}

.third_left_image, .third_left_image img{
    float: left;
}

.third_left_text, .third_right_text{
    text-align: left;
    text-transform: initial;
    font-size: 12px;
    float: left;
    display: inline-block;
}

.third_right_text{
    position: relative;
    left: 36px;
}

.third_right_image, .third_right_image img{
    float: right;
}

/* End Page 3 */

/* Page 4 */

.four_inner_block{
    padding-top: 20px;
    width: 95%;
    margin: 0 auto;
}

.four_text_block{
    width: 24%;
    float: left;
    text-transform: initial;
    font-size: 9px;
    text-align: left;
}

.four_text_block:nth-child(3), .four_text_block:nth-child(4){
    float: right;
    text-align: right;
}

/* End Page 4 */

.mid_block{
    padding-top: 40px;
     font-size: 65px;
}

.mid_block_lower{
    font-size: 104px;
}

.from, .until{
    font-size: 104px;
    position: absolute;
    left: calc(50% - 378px / 2);
    top: -170px;
    z-index: 10;
}

.until{
    font-size: 65px;
    left: calc(50% - 253px / 2);
    top: -50px;
}

.right_image, .left_image{
    width: 115px;
    height: 358px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.right_image{
    background-image: url(../images/inner/right.png);
}
.left_image{
    background-image: url(../images/inner/left.png);
}

.top_block{
    position: relative;
    padding-top: 50px;
    padding-bottom: 35px;
    width: 60%;
    margin: 0 auto;
}

.bottom_block{
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.top_image{
    height: 115px;
    width: 145px;
    background-image: url(../images/inner/top.png);
}
.bottom_image{
    display: inline-block;
    height: 115px;
    width: 258px;
    background-image: url(../images/inner/bottom.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.right_image, .left_image, .top_image, .bottom_image{
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.top_image:nth-child(1), .bottom_image:nth-child(1){
    float: left;
}

.top_image:nth-child(2), .bottom_image:nth-child(2){
    float: right;
}

.top

img{
    max-height: 80%;
}

.left_image{
    float: left;
}

.right_image{
    float: right;
}

/* End Center Block */

.clear{
    clear: both;
}

nav{
    position: absolute;
    width: 41%;
    z-index: 6;
    font-size: 18px;
    background-color: #4115a6;
    top: -38px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 3px;
}

nav ul{
    padding: 0;
}

nav li{
    display: inline-block;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 1.5em 0 1.5em;
    cursor: pointer;
}

nav a:hover{
    text-decoration: underline;
}

nav a.active{
    text-decoration: underline;
}

#map3d{
    margin: 0 auto;
    position: relative;
}

.active{
    pointer-events: none;
    cursor: default;
}