html, *{
    color: #000000;
    font-family: 'PT Serif', serif;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
}

.top_level{
    width: 100%;
}

.top_level:after{
    clear: both;
}

h1{
    position: relative;
    z-index: 5;
}

.left_nav, .right_nav{
    background-color: #4115a6;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: calc(100%/3);
    display: block;

}

.right_nav{
    position: absolute;
    left: calc(100% - 40px / 2);
}

.left_text{
    position: relative;
    text-align: left;
    float: left;
    text-transform: initial;
}

.right_text{
    position: relative;
    text-align: right;
    float: right;
    text-transform: initial;
}

/* Center Block */

#center_block{
    width: 70%;
    margin: 0 auto;
}

.inner_block{
    float: left;
    position: relative;
    width: 75%;
}

.inner_block_text_left, .inner_block_text_right{
    padding-top: 50px;
    text-transform: initial;

}

.inner_block_text_left{
    padding-left: 20px;
    float: left;
}

.inner_block_text_right{
    padding-right: 20px;
    float: right;
}

.mid_block{
    padding-top: 30px;
     font-size: 40px;
 }

.mid_block_lower{
    padding-top: 30px;
    font-size: 80px;
}

.right_image{
    width: 120px;
    height: 350px;
    background-image: url(../images/inner/right.png);
}
.left_image{
    width: 120px;
    height: 350px;
    background-image: url(../images/inner/left.png);
}
.top_image{
    height: 120px;
    width: 450px;
    background-image: url(../images/inner/top.png);
}
.bottom_image{
    height: 120px;
    width: 450px;
    background-image: url(../images/inner/bottom.png);
}

.right_image, .left_image, .top_image, .bottom_image{
    background-repeat: no-repeat;
    position: relative;
    display: block;
    margin: 0 auto;
    background-size: 100%;
}

img{
    max-height: 80%;
}

.left_image{
    float: left;
}

.right_image{
    float: right;
}

/* End Center Block */

.clear{
    clear: both;
}

nav{
    position: absolute;
    width: 40%;
    z-index: 6;
    font-size: 18px;
    background-color: #4115a6;
    top: -38px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 3px;
}

nav ul{
    padding: 0;
}

nav li{
    display: inline-block;
    text-decoration: none;
}

nav a{
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 1.5em 0 1.5em;
}

nav a:hover{
    text-decoration: underline;
}

nav a.active{
    text-decoration: underline;
}

#map3d{
    margin: 0 auto;
    position: relative;
}

.active{
    pointer-events: none;
    cursor: default;
}

#amazingslider-1{
    top: 140px;
}

.top_text, .bottom_text{
    font-family: 'PT Serif', serif;
    text-decoration:none;
    color: #FFFFFF;
    text-align: left;
    font-size: 13px;
}

.control{
    width: 100%;
    position: relative;
    top: 410px;
    right: 90px;
}

.left_slider{
    position: relative;
    float: left;
    right: 700px;
}

.right_slider{
    position: relative;
    float: right;
}

.slider_block{
    position: relative;
    top: 80px;
}

.slider{
    float: left;
    height: 550px;
}

.left_slider, .right_slider, .logo{
    cursor: pointer;
}


/* Overlay copyright box */

h2{
    font-size: 28px;
}

.bgCover{
    background-color: #000000;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    z-index: 100;
}

.overlayBox{
    background: #00082b;
    color: #000;
    font-family: Arial;
    font-size: 15px;
    position: absolute;
    display: none;
    width: 700px;
    padding: 20px;
    z-index: 101;
    line-height:120%;
}

.closeOverlay{
    position: relative;
    width: 16px;
    height: 16px;
    left: 47%;
    top: 5px;

}

/* END Overlay copyright box */